body{
        background: rgba(0, 89, 255, 0.521);
        font: normal 15pt Arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.205);
}
footer{
    color: aliceblue;
    text-align: center;
    font-style: italic;
}
div#formulario{
    padding: 10px;
    width: 200px;
    margin: 10px;
}
img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}